@import './../../sources/styles/mixins.scss';


.sectionsContainer {

  background: var(--contentBackground); 
  padding: 36px 60px 0 60px;
  @include desktop{padding: calc(1px + (60 - 0)* ((100vw - 320px) / (1440 - 320)));}
}


.bannerContainer { 
  position: relative;
  &::after { 
    content: '';
    @include position-absolute(0, 0, 0, 0);
    z-index: 2;
    height: 100%;
  }   
}

.botGradient { 
  &::after { 
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 70%);
  }   
}

.topGradient { 
  &::after {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 50%);
  }
}
