@import './../../sources/styles/mixins.scss';


.list { 
    @include flex;
    @include tablets {
        @include flex-direction(column);
        flex-wrap: wrap; 
        margin: 0 auto;
    }

    overflow-x: scroll;
    overflow-y: hidden; 
    width: 100%;
    //height: 515px;
    //@include desktop{height: calc(515px + (475 - 515) * ((100vw - 320px)/(1200 - 320)));
   
    .card {
        @include tablets{width: 100%}
        //width: 100%;
       // @include desktop{height: calc(515px + (475 - 515) * ((100vw - 320px)/(1200 - 320)));} 
        //@include desktop{width: calc(370px + (650 - 370) * ((100vw - 320px)/(1200 - 320)));} 
    }


}


