@import './../../sources/styles/mixins.scss';

.list {
    @include flex;

    @include tablets {
        @include flex-direction(column);
        flex-wrap: wrap;
        margin: 0 auto;
    }

    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;

    .card {
        @include tablets {
            width: 100%
        }
    }
}
