@import './../../sources/styles/mixins.scss';

.titleContainer { 
    @include flex(flex-start, space-between);
    margin: 40px 0 28px 1px;
    @include desktop{margin-left: calc(16px + (1 - 16)* ((100vw - 320px) / (1440 - 320)));
                    margin-bottom: calc(16px + (28 - 16)* ((100vw - 320px) / (1440 - 320)))}

    .title { 
        @include text-style(32px, 700, 40px, $letter-spacing:-1px, $color: var(--textColor2));
        margin: 0;
        &::after{
            display: none;
            content: ' >';
            font-size: 24px;
            @include tablets {display: inline;}
        }
    }

    .arrows { 
        @include tablets {display: none;}
    }

}



