@import './../../sources/styles/mixins.scss';


.button {
    @include flex(center, center);
    width: 100%;
    background: $brandColor;
    border-radius: 8px;
    padding: 12px 24px 12px 24px; 
}

.text { 
    @include text-style(18px, 700, 24px, $color: #FFFFFF);
}
