@import './../../sources/styles/mixins.scss';

.arrows { 
    display: flex;
    filter: var(--invert);


    .circle { 
        @include flex(center, center);
        @include width-height(32px, 32px);
        background: rgba(0, 0, 0, 0.06);
        border-radius: 50%;
    }
}
