@import './../../sources/styles/mixins.scss';

.card {
    margin: 0 21px 20px 0;

    @include desktop {
        margin-right: calc(1px + (21 - 1) * ((100vw - 1000px)/(1200 - 1000)));
    }

    position: relative;
    height: 100%;

    .img {
        object-position: center;
        object-fit: cover;
        display: block;
        height: 100%;

        @include tablets {
            width: 100%;
        }
    }

    .content {
        @include position-absolute($bottom: 24px, $left: 24px);

        .name {
            margin-bottom: 12px;
            @include text-style(64px, 700, 64px, $color: #FFFFFF, $letter-spacing: -5px);
        }
    }

    .buttonContainer {
        width: 93px;
    }
}