@import './../../sources/styles/mixins.scss';

.historyItem { 
    @include flex(center, space-between);
    opacity: 0.6;

    .text { 
        font-weight: normal;
        @include text-style(18px, $color: var(--textColor2));
    }
    .deleteButton { 
        width: 9px;
        height: 9px;
    }
}