@import './../../sources/styles/mixins.scss';

.imageHolder {
    @include width-height(427px, 475px);
    position: relative;
    height: 100%;

    @include desktop {
        height: calc(333px + (475 - 333) * ((100vw - 320px)/(1200 - 320)));
    }

    @include desktop {
        width: calc(300px + (427 - 300) * ((100vw - 320px)/(1200 - 320)));
    }

    .img {
        height: 100%
    }

    .sale {
        @include flex(center, center);
        @include position-absolute($bottom:12px, $left: 10px);
        @include width-height(66px, 32px);
        background: #FE006B;
        border-radius: 8px;

        .saleText {
            @include text-style(18px, 700, $color: #FFF);
            @include flex(flex-end);
        }
    }

    .like {
        @include position-absolute($top: 19px, $right: 16.3px);
    }

}
