@import './../../sources/styles/mixins.scss';

.layout {   
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto; 
  @include flex;
  @include flex-direction(column);

  .content {
    flex: 1 1 auto;
    width: 100%;
    flex: 1 !important; 
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    @include laptop{max-width: 992px;}

    
    .header { 
      @include position-absolute($top: 0, $left: 0);
      @include flex(center, space-between);
      width: 100%;
      z-index: 10;
      min-height: 96px;
      background: var(--pageBackground);

      padding: 0 75px 0 60px;
      @include desktop{padding: calc(16px + (60 - 16)* ((100vw - 320px) / (1440 - 320)));}
      
    }
    
    .container { 
      background: var(--contentBackground); 
      position: relative;
      z-index: 3;
    }

    .footer {
      padding: 0;
      z-index: 10;
      flex: 0 0 auto;
    }

  }

}