@import './../../sources/styles/mixins.scss';

.layout {   
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto; 
  @include flex;
  @include flex-direction(column);

  .content {
    flex: 1 1 auto;
    max-width: 1440px;
    width: 100%;
    flex: 1 !important; 
    display: flex;
    flex-direction: column;
    box-sizing: content-box;

    @include laptop{max-width: 992px;}
    @include laptop{max-width: 1000px;}
    
    
  }

  .header { 
    background: var(--pageBackground);
    @include position-absolute($top: 0, $left: 0);
    width: 100%;
   
    z-index: 10;
   
    
    @include flex(center, space-between);
    padding: 0 75px 0 60px;
    min-height: 96px;

    @include desktop{padding: calc(16px + (60 - 16)* ((100vw - 320px) / (1440 - 320)));}
    
  }

  .page { 
    background: var(--contentBackground); 
    /* background: var(--contentBackground); */
    position: relative;
    z-index: 3;
    
    .productBlock {
      background: var(--contentBackground); 
      padding: 36px 60px 0 60px;
      @include desktop{padding: calc(1px + (60 - 0)* ((100vw - 320px) / (1440 - 320)));}
    }

      
  }

  .footer {
    padding: 0;
    z-index: 10;
    flex: 0 0 auto;
  
  }

 
} 
