@import './../../sources/styles/mixins.scss';


  .themeSwitcher {
    display: inline-block;
    @include width-height(82px, 40px);
    border-radius: 90px;
    background: var(--themeSwitcherColor);
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    @include flex(center, space-around);
    flex-wrap: nowrap;

    &::after {
        content: "";
        @include width-height(32px, 32px);
        border-radius: 50%;
        background: #fff;
        top: 4px; 
        left: 5px; 
        transition-duration: 300ms; 
        box-shadow: 0 0 10px 0 #999999; 
        position: absolute;
        z-index: 1;
      }

      
      .lightThemeButton { 
        @include width-height(26px, 26px);
        z-index: 2;
        cursor: pointer;
        filter: var(--invert);
    }
    
    .darkThemeButton { 
        @include width-height(23px, 23px);
        z-index: 2;
        cursor: pointer;
    }
    
  }
  .switchOn {
    background: #fff;
    box-shadow: inset 0 0 10px 0 #999999; /* тень */

    &::after {
        left: 45px;
        background: #fff;
      }
  }

 
  
 
  

 