@import './../../sources/styles/mixins.scss';

.brend {
    @include flex(center);

    .brendName {
        margin-right: 12px;
        @include text-style(24px, $color: var(--textColor2));

        .blue {
            color: $brandColor;
        }
    }
}

@media (max-width: 1048px) {
    .brend {
        @include flex-direction(column);
        @include flex(flex-start);

        .brendName {
            margin-bottom: 32px;
        }
    }
}
