@import './../../sources/styles/mixins.scss';


.list {
    @include flex();

    @include laptop {
        @include flex-direction(column);
        flex-wrap: wrap;
    }

    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;

    .columnImgs {

        @include laptop {
            @include flex();
            @include flex-direction(row);
            width: calc(630px + (970 - 650) * ((100vw - 320px) / (1440 - 320)));
            overflow: hidden;
        }

        .columnImg {
            overflow: hidden;

            @include laptop {
                width: calc(245px + (427 - 245) * ((100vw - 320px) / (1440 - 320)))
            }
        }
    }

    .rowImg {
        @include laptop {
            height: calc(530px + (970 - 530) * ((100vw - 320px) / (1440 - 320)));
        }
    }
}
