@import './../../sources/styles/mixins.scss';

.menu { 
    @include flex(center, space-between);
    flex-wrap: nowrap;
    .fullMenu { 
        @include laptop{display: none;  }
    }
    .icon {
        margin: 0px 16px 0px 16px;
        filter: var(--invert);
        cursor: pointer;
    }

    .mobMenu {
        @include width-height(30px, 30px);
        display: none; 
        @include laptop{display: block; }
        filter: var(--invert);
    }
    
    .searchContainer {
        @include position-absolute($top: 0, $left: 0);
        height: 200px;
        background-color: white;
        width: 100%;
        padding-top: 24px;
        .close { 
            position: absolute;
            right: 37px;
            top: 45px; 
        }   

    .searchBox { 
        width: 640px;
        margin: 0 auto;
        .inputFieldContainer { 
            position: relative;
            height: 40px;
            .inputField {
                height: 100%;
                border-radius: 8px;
                border: 1px;
                background: rgba(0, 0, 0, 0.06);
                width: 100%;
                
                &:focus { 
                    outline: none;
                }
            }
            .search { 
                position: absolute;
                top: 18px;
                left: 3px;
            }
        }

        .searchHistoryContainer { 

            margin-top: 30px;
            .title {
                @include text-style(18px, $color: #1E1E22);
            }
        }
        
    }
}
}
