@import './../../sources/styles/mixins.scss';

.otherBlock { 
    @include flex();
    @include flex(center, space-between);
    height: 56px;
    padding: 0 60px 0 60px;
    @include desktop{padding-right: calc(16px + (60 - 16)* ((100vw - 320px) / (1440 - 320)));
                     padding-left: calc(16px + (60 - 16)* ((100vw - 320px) / (1440 - 320)))}  
    background: var(--backColor2) !important;
    @include text-style(12px, 400, 12px,  $color: var(--menuText));
   
    .location { 
        @include flex();
        .icon { 
            margin-right: 12px;
            font-size: 16px;
            height: 20px;
        }
    }

    .otherLinks { 
        @include flex();
        .link {
             margin-left: 37px; 
        }
    }
}
