@import './../../sources/styles/mixins.scss';

.creditsBlock { 
    @include flex(flex-start, space-between);
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    padding: 42px 60px 48px 60px;
    @include desktop{height: calc(468px + (226 - 468) * ((100vw - 375px) / (1440 - 375)));}
    @include desktop{padding-left: calc(16px + (60 - 16) * ((100vw - 320px) / (1440 - 320)));
                    padding-right: calc(16px + (60 - 16) * ((100vw - 320px) / (1440 - 320)));}
    @include phones { align-items: flex-start}
    @include tablets { column-count: 2}
    background-color: var(--footerColor1);
    .brend { 
        @include flex(center);
        .brendName { 
            margin-right: 12px;
            @include text-style(24px, $color: var(--textColor2));
            .blue { 
                color: $brandColor;
            }
         }
    }   

    @media (max-width: 1048px) {
        .brend { 
            @include flex-direction(column);
            @include flex(flex-start);
            .brendName { 
                margin-bottom: 32px;
            }
        }   
    }

    .linksContainer { 

        @include phones {
            width: 50%
        }

        @include flex();
        @include flex-direction(column);
        @include phones{ margin-top: 55px;}

        .title{ 
            @include text-style(24px, 400, $color: var(--titleColor));
            margin-bottom: 24px;
        }
        
        .listContainer { 
            margin: 0;
            @include flex-direction(column);
            @include flex(space-between, space-between);
            .list {
                column-count: 3;
                column-gap: 8em;
                @include laptop {column-gap: 4em}
                @include tablets {column-gap: 1em}
                @include phones {column-count: 1}
            }

            .listItem { 
                margin-bottom: 16px;
                @include text-style(18px, 400, $color:var(--textColor2));
                opacity: 0.6;
                .link { 
                    @include text-style(18px, 400, $color:var(--textColor2));
                }
            }                       
        }
    }


    .mob { 
        @include phones{justify-self: flex-end;}
    }


    .iconContainer { 
        @include flex(flex-end, flex-start);
        flex-direction: column;
        height: 100%;      
       
    }

    .bgCircle { 
        @include width-height(38px, 38px);
        background: rgba(60, 125, 255, 0.2);
        border-radius: 50%;
        @include flex(center, center);
    }
    
    .iconList {     
        width: 146px;
        display: flex;
        @include flex(space-between, space-between);
        margin-bottom: 50px;
    }
    
    .buttonContainer { 
        width: 50%;
    }
    .button { 
        @include desktop { width: 93px;}

        @include phones { 
            width: 157px;
            display: block;
            margin-top: 50px;
        }
    }   
}


