@import './../../sources/styles/mixins.scss';


.banner { 

    position: relative; 
    @include desktop{height: calc(500px + (772 - 500) * ((100vw - 320px)/(1200 - 320)));} 

    .backImage{ 
        width: 100%;
        z-index: -1;
        height: 100%;
    }

    .img { 
        object-position: center;
        object-fit: cover;
        height: 100%;

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .container { 
        z-index: 3;
        width: 60%;
        @include position-absolute($bottom: 163px, $left:60px);
        @include desktop{left: calc(16px + (60 - 16) * ((100vw - 320px) / (1440 - 320))); 
                        bottom: calc(42px + (163 - 42) * ((100vw - 320px) / (1440 - 320)))} 

        .title { 
            @include text-style(112px, 700, 112px, $color: #FFF, $letter-spacing:-5px);

            @include desktop{font-size: calc(44px + (112 - 44) * ((100vw - 320px) / (1440 - 320)));
                             letter-spacing: (-2px + (-5 + 2) * ((100 - 320px) / (1440 - 320)))} 
            text-align: left;
            margin: 12px 0px;
        }
    
        .text { 
            margin-bottom: 32px;
            @include text-style(24px, $color: #FFF);
            @include desktop{font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
                            margin-bottom: calc(24px + (32 - 24) * ((100vw - 320px) / (1440 - 320)))} ;
            word-wrap: break-word;

            @include laptop{font-weight: 400px;}
        }

        .buttonContainer { 
            width: 93px;
            cursor: pointer;
        }
    }
 }

