@import './../../sources/styles/mixins.scss';

.inputFieldContainer {
    position: relative;
    height: 40px;

    .inputField {
        border-radius: 8px;
        border: 1px;
        background: var(--themeSwitcherColor);
        padding-left: 50px;

        @include width-height(100%, 100%);
        @include text-style(18px);

        @include phones {
            font-size: 14px;
        }

        @include tablets {
            font-size: 16px;
        }

        &:focus {
            outline: none;
        }
    }

    .search {
        filter: var(--invert);
        @include position-absolute($top: 10px, $left: 10px);
    }
}